# Gradle & Build Output
.gradle/
build/
**/build/
/captures
.externalNativeBuild
.cxx

# IDE & Editor Files
.idea/
*.iml
.DS_Store

# Local Configuration & Environment
local.properties

# Keystore, Keys & Signing Security
*.jks
*.keystore
signing.properties
keystore_base64.txt
b64_key.txt

# Generated Artifacts & Logs
*.apk
*.idsig
*-Signed/
compiled_res.flata
build_run_log.txt
